{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %} | Naruto par PH

{% block body %}
	{# {{ dump(articles) }}
	<div class="row text-center">
		<h1>Derniers Chapitres</h1>
	</div>
	<div class="row justify-content-center">
		{% for item in articles %}
			<div class="col-3 border rounded shadow-sm m-4 p-3">
				<h3>{{ item.title }}</h3>
				<h4>{{ item.subtitle }}</h4>
				<p>{{ item.content|slice(0,45)}}...</p>
				<h6>{{ item.category.name }}</h6>
				<em>{{ item.author.nom }}</em>
			</div>
		{% endfor %}
	</div> #}
{% endblock %}
